@namespace BlazorDungeon
<Router AppAssembly="@System.Reflection.Assembly.GetExecutingAssembly()">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" />
    </Found>
    <NotFound>
        <p>Sorry, there's nothing at this address.</p>
    </NotFound>
</Router>